In [68]:
import pandas as pd

In [69]:
january = pd.read_csv('data\JC-201601-citibike-tripdata.csv')
feburary = pd.read_csv('data\JC-201602-citibike-tripdata.csv')
march = pd.read_csv('data\JC-201603-citibike-tripdata.csv')
april = pd.read_csv('data\JC-201604-citibike-tripdata.csv')
may = pd.read_csv('data\JC-201605-citibike-tripdata.csv')
june = pd.read_csv('data\JC-201606-citibike-tripdata.csv')
july = pd.read_csv('data\JC-201607-citibike-tripdata.csv')
august = pd.read_csv('data\JC-201608-citibike-tripdata.csv')
sept = pd.read_csv('data\JC-201609-citibike-tripdata.csv')
oct = pd.read_csv('data\JC-201610-citibike-tripdata.csv')
nov = pd.read_csv('data\JC-201611-citibike-tripdata.csv')
dec = pd.read_csv('data\JC-201612-citibike-tripdata.csv')

<>:1: SyntaxWarning: invalid escape sequence '\J'
<>:2: SyntaxWarning: invalid escape sequence '\J'
<>:3: SyntaxWarning: invalid escape sequence '\J'
<>:4: SyntaxWarning: invalid escape sequence '\J'
<>:5: SyntaxWarning: invalid escape sequence '\J'
<>:6: SyntaxWarning: invalid escape sequence '\J'
<>:7: SyntaxWarning: invalid escape sequence '\J'
<>:8: SyntaxWarning: invalid escape sequence '\J'
<>:9: SyntaxWarning: invalid escape sequence '\J'
<>:10: SyntaxWarning: invalid escape sequence '\J'
<>:11: SyntaxWarning: invalid escape sequence '\J'
<>:12: SyntaxWarning: invalid escape sequence '\J'
<>:1: SyntaxWarning: invalid escape sequence '\J'
<>:2: SyntaxWarning: invalid escape sequence '\J'
<>:3: SyntaxWarning: invalid escape sequence '\J'
<>:4: SyntaxWarning: invalid escape sequence '\J'
<>:5: SyntaxWarning: invalid escape sequence '\J'
<>:6: SyntaxWarning: invalid escape sequence '\J'
<>:7: SyntaxWarning: invalid escape sequence '\J'
<>:8: SyntaxWarning: invalid escape sequence '\J'
<>:9: SyntaxWarning: invalid escape sequence '\J'
<>:10: SyntaxWarning: invalid escape sequence '\J'
<>:11: SyntaxWarning: invalid escape sequence '\J'
<>:12: SyntaxWarning: invalid escape sequence '\J'
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:1: SyntaxWarning: invalid escape sequence '\J'
  january = pd.read_csv('data\JC-201601-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:2: SyntaxWarning: invalid escape sequence '\J'
  feburary = pd.read_csv('data\JC-201602-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:3: SyntaxWarning: invalid escape sequence '\J'
  march = pd.read_csv('data\JC-201603-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:4: SyntaxWarning: invalid escape sequence '\J'
  april = pd.read_csv('data\JC-201604-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:5: SyntaxWarning: invalid escape sequence '\J'
  may = pd.read_csv('data\JC-201605-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:6: SyntaxWarning: invalid escape sequence '\J'
  june = pd.read_csv('data\JC-201606-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:7: SyntaxWarning: invalid escape sequence '\J'
  july = pd.read_csv('data\JC-201607-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:8: SyntaxWarning: invalid escape sequence '\J'
  august = pd.read_csv('data\JC-201608-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:9: SyntaxWarning: invalid escape sequence '\J'
  sept = pd.read_csv('data\JC-201609-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:10: SyntaxWarning: invalid escape sequence '\J'
  oct = pd.read_csv('data\JC-201610-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:11: SyntaxWarning: invalid escape sequence '\J'
  nov = pd.read_csv('data\JC-201611-citibike-tripdata.csv')
C:\Users\HeskeyAmoakoFordjour\AppData\Local\Temp\ipykernel_5992\2596061266.py:12: SyntaxWarning: invalid escape sequence '\J'
  dec = pd.read_csv('data\JC-201612-citibike-tripdata.csv')

In [70]:
january.head(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
5,883,2016-01-01 01:03:28,2016-01-01 01:18:11,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24442,Customer,NaN,0
6,445,2016-01-01 01:07:45,2016-01-01 01:15:11,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24510,Subscriber,1988.0,2
7,192,2016-01-01 01:18:51,2016-01-01 01:22:03,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,24625,Subscriber,1980.0,1
8,409,2016-01-01 01:23:44,2016-01-01 01:30:34,3187,Warren St,40.721124,-74.038051,3214,Essex Light Rail,40.712774,-74.036486,24429,Subscriber,1990.0,1
9,285,2016-01-01 01:25:12,2016-01-01 01:29:57,3187,Warren St,40.721124,-74.038051,3214,Essex Light Rail,40.712774,-74.036486,24407,Subscriber,1988.0,2

In [71]:
citibike = pd.concat([january,feburary,march,april,may,june,july,august,sept,oct,nov,dec])

In [72]:
citibike.head(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,NaN,0
5,883,2016-01-01 01:03:28,2016-01-01 01:18:11,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24442,Customer,NaN,0
6,445,2016-01-01 01:07:45,2016-01-01 01:15:11,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,24510,Subscriber,1988.0,2
7,192,2016-01-01 01:18:51,2016-01-01 01:22:03,3211,Newark Ave,40.721525,-74.046305,3203,Hamilton Park,40.727596,-74.044247,24625,Subscriber,1980.0,1
8,409,2016-01-01 01:23:44,2016-01-01 01:30:34,3187,Warren St,40.721124,-74.038051,3214,Essex Light Rail,40.712774,-74.036486,24429,Subscriber,1990.0,1
9,285,2016-01-01 01:25:12,2016-01-01 01:29:57,3187,Warren St,40.721124,-74.038051,3214,Essex Light Rail,40.712774,-74.036486,24407,Subscriber,1988.0,2

In [73]:
citibike.shape

(247584, 15)

In [74]:
citibike.isnull().sum()

Trip Duration                  0
Start Time                     0
Stop Time                      0
Start Station ID               0
Start Station Name             0
Start Station Latitude         0
Start Station Longitude        0
End Station ID                 0
End Station Name               0
End Station Latitude           0
End Station Longitude          0
Bike ID                        0
User Type                    380
Birth Year                 18999
Gender                         0
dtype: int64

In [75]:
citibike.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [76]:
citibike["Birth Year"] = citibike["Birth Year"].fillna(citibike["Birth Year"].median())

In [77]:
citibike["User Type"].value_counts()

User Type
Subscriber    231683
Customer       15521
Name: count, dtype: int64

In [81]:
citibike.dropna()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,362,2016-01-01 00:02:52,2016-01-01 00:08:54,3186,Grove St PATH,40.719586,-74.043117,3209,Brunswick St,40.724176,-74.050656,24647,Subscriber,1964.0,2
1,200,2016-01-01 00:18:22,2016-01-01 00:21:42,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24605,Subscriber,1962.0,1
2,202,2016-01-01 00:18:25,2016-01-01 00:21:47,3186,Grove St PATH,40.719586,-74.043117,3213,Van Vorst Park,40.718489,-74.047727,24689,Subscriber,1962.0,2
3,248,2016-01-01 00:23:13,2016-01-01 00:27:21,3209,Brunswick St,40.724176,-74.050656,3203,Hamilton Park,40.727596,-74.044247,24693,Subscriber,1984.0,1
4,903,2016-01-01 01:03:20,2016-01-01 01:18:24,3195,Sip Ave,40.730743,-74.063784,3210,Pershing Field,40.742677,-74.051789,24573,Customer,1981.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15109,557,2016-12-31 23:10:16,2016-12-31 23:19:33,3214,Essex Light Rail,40.712774,-74.036486,3203,Hamilton Park,40.727596,-74.044247,24465,Subscriber,1981.0,2
15110,2749,2016-12-31 23:29:39,2017-01-01 00:15:29,3183,Exchange Place,40.716247,-74.033459,3183,Exchange Place,40.716247,-74.033459,24389,Customer,1981.0,0
15111,173,2016-12-31 23:44:37,2016-12-31 23:47:31,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,24641,Subscriber,1978.0,1
15112,2424,2016-12-31 23:44:50,2017-01-01 00:25:14,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,26219,Subscriber,1960.0,2
15113,2419,2016-12-31 23:44:50,2017-01-01 00:25:10,3214,Essex Light Rail,40.712774,-74.036486,3214,Essex Light Rail,40.712774,-74.036486,24471,Subscriber,1956.0,1

In [85]:
citibike.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [82]:
duplicates = citibike.duplicated()

In [83]:
duplicates.value_counts()

False    247584
Name: count, dtype: int64

In [84]:
citibike.columns

Index(['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID',
       'Start Station Name', 'Start Station Latitude',
       'Start Station Longitude', 'End Station ID', 'End Station Name',
       'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type',
       'Birth Year', 'Gender'],
      dtype='object')

In [ ]:
CREATE TABLE citibike_trips(Bike_ID INT PRIMARY KEY,


)